body {
    background-color: paleturquoise;
}

button, div, form, input {
      margin: 10px;
      text-align: center;
    }

#animals-view {
  border: white, 5px; 
}

#animals-view, .animal {
  float: left; 
}

.rating {
  margin: 0%;
}

#animal-form {
  float: right;
}